<div class="row ax_row_tables partner-dashboard">
    <div class="col-md-8">
        <div class="top-name in-page-header">
            <h2>Nice To See You Again, <span class="dname">Rain!</span></h2>
            <h3>Thanks for being and Affinityx Partner</h3>
        </div>
        <p class="bottom-text mt-3 mb-5">Here you'll find the tools and resources you need to be successful.</p>
        <div class="row mt-5 ">
            <div class="col-md-6"><p>Industry Pre-Call  Prep Sheets</p></div>
            <div class="col-md-6"> <img src="assets/images/dashboard-image.png"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6"><p>Top Downloads</p></div>
            <div class="col-md-6">
                <ul class="top-downloads">
                    <li><a href="#" (click)="$event.preventDefault()">Cannabis Case Study</a> </li>
                    <li><a href="#" (click)="$event.preventDefault()">Snapchat New Product</a> </li>
                </ul>
            </div>
        </div>


    </div>
</div>