/* FOOTER */
#footer {
    transition: margin-left .5s;
    padding-left: 75px;
}

.ax_footer {
    padding: 10px;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    background-color: rgba(37, 43, 48, 1);
    z-index: 30;
    box-shadow: -1px 7px 63px 11px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px 7px 63px 11px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 7px 63px 11px rgba(0,0,0,0.7);
}
