<div class="ax_overlay"></div>
<div class="ax_content">
<div id="main" class="container">
    <main role="main">
        <div class="row ax_login_container_logo">
            <!-- <div style="margin: 0 auto; width: 200px; height: 200px; border: 1px solid red;"> -->
            <div class="ax_login_content_logo">
                <img class="ax_login_app_logo" src="/assets/images/logo_ax_x-colored_50x50.png">
                <span class="ax_login_app_name font_color_1">partner portal</span>
            </div>
        </div>
        <!-- <hr class="ax_home_rule_1" style="width: 50%;"> -->
        <!-- ---------- ---------- ---------- ---------- ---------- -->
        <form [formGroup]="loginForm" style="display: inline;" id="login-form" (ngSubmit)="onSubmit()">
            <!-- ---------- ---------- ---------- ---------- ---------- -->
            <div class="row col-md-6 ax_login_row">
                <div class="col-md-4 ax_login_container_field_label"></div>
                <div class="col-md-8 ax_login_container_field_input">
                <div class="ax_login_error_messages main"></div>
                </div>
            </div>
            
            <div class="row col-md-6 ax_login_row">
                <div class="col-md-4 ax_login_container_field_label">
                    Username:
                </div>
                <div class="col-md-8 ax_login_container_field_input">
                    <input type="text" formControlName="username" autocomplete="off" id="username" class="form-control form-control-sm ax_text_input">
                    <div *ngIf="f['username'].errors" class="ax_login_error_messages ax_login_result_message_fail">
                        <p *ngIf="f['username'].errors['required']">Username is required</p>
                    </div>
                </div>
            </div>
            <!-- ---------- ---------- ---------- ---------- ---------- -->
            <div class="row col-md-6 ax_login_row">
                <div class="col-md-4 ax_login_container_field_label">
                    Password:
                </div>
                <div class="col-md-8 ax_login_container_field_input">
                    <input type="password" formControlName="password" autocomplete="off" id="password" class="form-control form-control-sm ax_text_input" value="">
                    <div *ngIf="f['password'].errors" class="ax_login_error_messages ax_login_result_message_fail">
                        <p *ngIf="f['password'].errors['password']">Username is required</p>
                    </div>
                </div>
            </div>
            <!-- ---------- ---------- ---------- ---------- ---------- -->
            <div class="row col-md-6 ax_login_row">
                <div class="col-md-4 ax_login_container_field_label">
                    Remember me:
                </div>
                <div class="col-md-8 ax_login_container_field_input">
                    <!-- Field here -->
                    <div class="axdb_checkbox form-check">
                        <input type="hidden" name="rememberme" value="0">
                        <input type="checkbox" formControlName="rememberMe" id="rememberme" class="form-check-input" value="1">
                    </div>
                </div>
            </div>
            <!-- ---------- ---------- ---------- ---------- ---------- -->
            <div class="row col-md-6 ax_login_row">
            <div class="col-md-4 ax_login_container_field_label"></div>
                <div class="col-md-8 ax_login_container_field_input">
                    <input type="submit" [disabled]="!loginForm.valid || submitted" class="btn btn-outline-info btn-lg" value="Log In">
                </div>
            </div>
            <!-- ---------- ---------- ---------- ---------- ---------- -->
        </form>
    </main>
 </div>
 <app-footer></app-footer>


